
/* ------------------------------ */
/* SECCIÓN QUIÉNES SOMOS */
/* ------------------------------ */
.section {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 20px;
}

.about-box {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.about-box h2 {
    color: #1e88e5;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.about-box p {
    font-size: 1.1rem;
}

/* ------------------------------ */
/* IMÁGENES */
/* ------------------------------ */

.image-gallery {
    display: grid;
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.image-gallery img {
    width: 100%;
    border-radius: 15px;
    height: 240px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

/* ------------------------------ */
/* MISIÓN, VISIÓN Y VALORES */
/* ------------------------------ */

.values-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.value-item {
    flex: 1 ;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.value-item h3 {
    color: #1e88e5;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .value-item {
        flex: 1 1 100%;
    }
}
